//****************************//
//          Body              //
//***************************//
body {
    background-color: #c9de96; // Old browsers    
    background: linear-gradient(to left, #c9de96 0%,#3cad5c 43%,#398235 100%);
    color: cornsilk;
}

//****************************//
//           Header          //
//***************************//

.logo {
    padding: 0 1em;
    a {
        color: darkseagreen;
        font-size: 2em;
        line-height: inherit;
    }
}

#navbarContent {
    .dropdown-menu {
        left: auto !important;
        transform: translateY(-7px) !important;
        width: auto;
    }
}

.navbar {
    .navbar-nav .active > .nav-link,
    .navbar-nav .nav-link.active {
        color: white !important;
    }
    .fa {
        font-size: 0.7em;
        transform: translateY(-5%);
    }
    
}


//****************************//
//           Content         //
//***************************//

app-animals-list,
app-care-takers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
        width: 230px;
    }
}

//****************************//
//           Utils           //
//***************************//

.relative {
    position: relative;
}

.card {
    margin: 0.5em;
    padding: 1em;
    color: black;
}

td {
    padding-right: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
}

.form-control.ng-pristine.ng-invalid.ng-touched,
.custom-select.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
}
