<div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 mx-auto">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{title}}</h4>
                    <form [formGroup]="careTakersForm" (submit)="onSubmit($event)">
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" 
                                    class="form-control" 
                                    formControlName="firstName" 
                                    id="firstName">
                                <span class="text-danger" *ngIf="careTakersForm.get('firstName').hasError('required') && 
                                    (careTakersForm.get('firstName').dirty || careTakersForm.get('firstName').touched)">This input is required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" 
                                    class="form-control" 
                                    formControlName="lastName" 
                                    id="lastName">
                                <span class="text-danger" *ngIf="careTakersForm.get('lastName').hasError('required') && 
                                    (careTakersForm.get('lastName').dirty || careTakersForm.get('lastName').touched)">This input is required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <button type="button" class="btn btn-default float-right" (click)="onCancelClick($event)">Cancel</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    