<div class="card w-25">
    <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <table>
            <tbody>
                <tr>
                    <td><strong>Type</strong></td>
                    <td>Domestic</td>
                </tr>
                <tr>
                    <td><strong>Species</strong></td>
                    <td>Feline</td>
                </tr>
                <tr>
                    <td><strong>Class</strong></td>
                    <td>Mammal</td>
                </tr>
                <tr>
                    <td><strong>Eatting habits</strong></td>
                    <td>Carnivore</td>
                </tr>
                <tr>
                    <td><strong>Care Taker</strong></td>
                    <td>John Doe</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>