<h1 class="text-center display-3 m-5">Welcome to your private zoo!</h1>
<div class="row">
    <div class="col-xs-12 col-md-8 mx-auto mb-5">
        <h3 class="text-center">Here you can add, delete or update information about your personal animals and their own care takers!</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 ml-auto text-center">
        <h4>Your current animals</h4>
        <ul *ngFor="let animal of animals">
            <li>
                <a routerLink="/animals/edit/{{animal.id}}">{{animal ? animal.name : ''}}</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-4 mr-auto text-center">
        <h4>And their care takers</h4>
        <ul *ngFor="let careTaker of careTakers">
            <li>
                <a routerLink="/care-takers/edit/{{careTaker.id}}">{{careTaker ? careTaker.firstName + ' ' + careTaker.lastName: ''}}</a>
            </li>
        </ul>
    </div>
</div>